* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #fae7c4;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}

.content {
    background-color: #f5d69e;
    text-align: center;

    padding: 2rem;
    border-radius: .5rem;

    border: solid 1px #5f0a08;
    box-shadow: 0 0 50px #8dd9cc89;

    display: grid;
    gap: 50px;
}

.content img {
    width: 200px;
}

.content input {
    background-color: #dbe1eb;
    height: 50px;

    font-size: medium;
    padding-left: 2rem;
    padding-right: 2rem;

    text-align: center;
}

.content input:focus~label,
.content input:valid~label {
    top: -30px;
}

.content label::before,
.content label::after {
    opacity: 0%;
    content: " —— ";
    transition: 1s;
}

.content input:focus~label::before,
.content input:focus~label::after,
.content input:valid~label::before,
.content input:valid~label::after {
    content: " —— ";
    color: #ca534c;
    opacity: 100%;
}

.content .interface button {
    background-color: #fe5c40;
    height: 40px;
    color: white;
    font-size: medium;
    border-radius: .3rem;
    border: 1px solid #ca534c;
    cursor: pointer;
    transition: .5s;

}

.content .interface button:hover {
    background-color: #ff2600;
}

.content .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    width: 100%;
}

.content .items button {
    background-color: #8dd9cc;
    padding: .7rem;
    font-size: large;
    font-weight: bold;
    border-radius: .6rem;
    color: white;
    cursor: pointer;
    transition: .5s;

}

.content .items button:hover {
    background-color: #1ed7b8;
}

.interface {
    position: relative;
    display: grid;
    gap: 15px;
}

.interface label {
    top: 15px;
    width: 100%;
    position: absolute;
    font-size: medium;
    color: #5f0a08;

    transition: .5s;
}